<div class="container">
  <h2>
    Login na sua conta
  </h2>
  <small>
    Campos marcados com
    <span class="text-danger">*</span> são obrigatórios.
  </small>
  {{{error}}}
  <hr>
  <form action="/login" class="text-bg-dark" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Endereço de e-mail</label>
      <input type="email" class="form-control form-control-dark text-bg-dark" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control form-control-dark text-bg-dark" id="senha" name="senha" required>
    </div>
    <div class="mb-3 d-grid gap-2">
      <button type="submit" class="btn btn-success">Entrar</button>
      <a href="/cadastro" class="btn btn-link">Cadastrar-se</a>
    </div>
  </form>
</div>