<div class="container">
  <h2>
    Publicar
  </h2>
  <hr>
  <form class="container" action="/publicar" method="post">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título <strong class="text-danger">*</strong></label>
      <input type="text" class="form-control form-control-dark text-bg-dark" id="titulo" name="titulo" required>
    </div>
    <div class="mb-3">
      <label for="conteudo" class="form-label">Conteúdo <strong class="text-danger">*</strong></label>
      <textarea class="form-control form-control-dark text-bg-dark" id="conteudo" name="conteudo" style="height: 144px;" rows="3" required></textarea>
    </div>
    <div class="mb-3 d-grid gap-2">
      <input type="submit" class="btn btn-primary" value="Publicar">
      <input type="reset" class="btn btn-secondary" value="Limpar">
    </div>
  </form>
</div>