<div class="container">
  <h3>
    Termos de Uso
  </h3>
  <h5>
    Última atualização: 25/10/2024
  </h5>
  <p>
    Ao acessar e utilizar os serviços da DigitalPro, você concorda com os seguintes termos e condições. Por favor, leia atentamente.
  </p>
  <ol>
    <li>
      <strong>Aceitação dos Termos</strong>
      <p>
        Ao utilizar nosso site e serviços, você concorda em cumprir estes Termos de Uso. Se você não concorda com qualquer parte destes termos, não use nossos serviços.
      </p>
    </li>
    <li>
      <strong>Uso do Site</strong>
      <p>
        Você se compromete a usar nosso site apenas para fins legais e de maneira que não infrinja os direitos de terceiros ou restrinja o uso e aproveitamento do site por outros usuários.
      </p>
    </li>
    <li>
      <strong>
        Propriedade Intelectual
      </strong>
      <p>
        Todos os conteúdos presentes no site, incluindo textos, gráficos, logotipos, ícones, imagens e software, são de propriedade da DigitalPro ou de seus fornecedores de conteúdo e estão protegidos por leis de direitos autorais e marcas registradas. Você não pode reproduzir, distribuir, modificar ou exibir qualquer parte do conteúdo sem permissão prévia por escrito.
      </p>
    </li>
    <li>
      <strong>Conduta do Usuário</strong>
      <ul>
        <li>
          Violar qualquer lei local, estadual, nacional ou internacional aplicável.
        </li>
        <li>
          Carregar ou transmitir qualquer conteúdo que seja ilegal, ofensivo, difamatório ou invasivo da privacidade de outra pessoa.
        </li>
        <li>
          Interferir ou prejudicar a segurança, ou de outra forma abusar do site ou qualquer serviço, recurso do sistema, contas, senhas, servidores ou redes conectadas ao site.
        </li>
      </ul>
    </li>
    <li>
      <strong>Limitação de Responsabilidade</strong>
      <p>
        A DigitalPro não será responsável por quaisquer danos indiretos, incidentais, especiais, consequenciais ou punitivos decorrentes de seu acesso, uso ou incapacidade de usar o site e os serviços.
      </p>
    </li>
    <li>
      <strong>Modificações dos Termos</strong>
      <p>
        Reservamo-nos o direito de modificar estes termos a qualquer momento. É sua responsabilidade revisar estes termos periodicamente. O uso contínuo do site após a publicação de mudanças constitui aceitação das novas condições.
      </p>
    </li>
    <li>
      <strong>Política de Privacidade</strong>
      <p>
        Sua privacidade é importante para nós. Por favor, revise nossa Política de Privacidade para entender como coletamos, usamos e protegemos suas informações pessoais.
      </p>
    </li>
    <li>
      <strong>Contato</strong>
      <p>
        Se você tiver qualquer pergunta sobre estes Termos de Uso, entre em contato conosco pelo e-mail: contato@digitalpro.vercel.app.
      </p>
    </li>
  </ol>
  <h3>
    Agradecemos por escolher a DigitalPro. Estamos comprometidos em fornecer a melhor experiência de aprendizado possível.
  </h3>
</div>